BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterStruct: false
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
